.profile {
}

.bar {
    height: 60px;
}

.playtime {
    display: flex;
    flex-wrap: wrap;

    p {
        margin: 2px 20px 0 0;
    }

    .playtime-label {
        width: 100%;
    }
}

.profile-best-hero {
    display: flex;
    margin: 10px 0;
    align-items: center;

    label {
        font-size: 18px;
        width: 100px;
        padding: 10px 20px 0 0;
    }
}

.profile-bar {
    height: 30px;
    width: 0px;
    background: tomato;
}